body{
    background-image: url(foto/aslan.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}



.judultext h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    color: rgb(144, 13, 13);
}
.judultext{
    margin-top: 250px;
}
.judultext p{
    max-width: 600px;
    font-size: 15px;

}

/* handphone */
@media (max-width:576px) {
    .judultext h1{
        font-size: 39px;
    }
    
    .judultext p{
        font-size: 12px;
    }
    }
    